<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}} - Holey Soley</title>
    
</head>
<body>
    <h1>Holey Soley</h1>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2024 Holy Soley</p>
        <!-- Add additional footer content if needed -->
    </footer>
</body>
</html>